<br/>
<div class="card mb-3">
  <div class="card-header">
    <h4 class="float-left "><strong class="text-primary"> Plano </strong></h4>
    <h5 class=" float-right text-primary  border-sm-bottom border-200"><%= @plataforma.descricao  %></h5>
    <h5 class=" float-right text-primary col-2"> <%=  %></h5>
    <h3 class="mb-3 col-12 dropdown-divider"></h3>
    <table class="table table-sm table-bordered ">
      <thead class="thead-light">
      <tr>
        <th>Plano</th>
        <th>Valor</th>
        <th>Produtos</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="white-space-nowrap"><%= @plano.descricao %></th>
        <th class="white-space-nowrap"><%= @plano.valor %></th>
        <th class="white-space-nowrap"><%= @plano.qtd_produto %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body px-0 pt-0">
    <div class="dashboard-data-table">
    </div>
  </div>
</div>
