</br>
<div class="card mb-3">
  <div class="card-header">
    <h4 class="float-left "><strong class="text-primary"> Estado </strong></h4>
    <h5 class=" float-right text-primary  border-sm-bottom border-200"><%= @state.country.name %></h5>
    <h3 class="mb-3 col-12 dropdown-divider"></h3>
    <table class="table table-sm table-bordered ">
      <thead class="thead-light">
      <tr>
        <th>Estado</th>
        <th>Código</th>
        <th>Sigla</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="white-space-nowrap"><%= @state.name %></th>
        <th class="white-space-nowrap"><%= @state.code %></th>
        <th class="white-space-nowrap"><%= @state.acronym %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to 'Voltar',  admin_country_path(@state.country_id), class:'btn btn-sm btn-warning' %>
  <div class="card-body px-0 pt-0">
    <div class="dashboard-data-table">

    </div>

  </div>
</div>


<%= render 'admin/cities/index' %>
